<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Skyline Cross Country Race Page</title>
</head>

<header>
    <!--Same(ish) as home page! CSS will make these be side by side, better overall structure-->
    <div class="header-content">
        <img src="https://resources.finalsite.net/images/f_auto,q_auto/v1695416665/a2schoolsorg/udbk8bxpqrgvjkwteeut/SkylineHighSchoolPrimaryThumbnailImage.jpg" alt="Skyline High School logo">
        <div class="header-text">
        <h1>Lamplighter Invitational</h1>
        <p>Aug 15 2025          <a href="https://www.athletic.net/CrossCountry/meet/247194/results/1007644">Meet results</a></p>
        </div>
    </div>
</header>

<main>
    <p>
        The Lamplighter Invitational was the first race of the season for Ann Arbor Skyline. 
        The team put together a strong showing, with runners Hudson Doll, Martin Gehrkeled, Zeke Lafferty, and Garrett Comer leading the way for Skyline. 
        This race was a solid start for the team, and they look to continue building throughout their schedule. Next up, the 2nd Ann Arbor City Preview on Aug 27th!
    </p>
    <img src="https://drive.google.com/file/d/16Fgcjya9KWtKn-acJf10aH8Pdz83Bopj/preview" alt="Lamplighter Race Photo"><div class="header-text">
</main>

<table>
    <caption>
        Skyline Results
    </caption>

    <tr> 
        <th>Name</th>
        <th>Time</th>
        <th>Placement</th>
        <th>Grade</th>
    </tr>

    <tr>
        <td>Hudson Doll</td>
        <td>16:41.40</td>
        <td>20th</td>
        <td>9</td>
    </tr>

    <tr>
        <td>Martin Gehrke</td>
        <td>16:53.40</td>
        <td>23th</td>
        <td>10</td>
    </tr>

    <tr>
        <td>Zeke Lafferty</td>
        <td>17:11.80</td>
        <td>32th</td>
        <td>12</td>
    </tr>

    <tr>
        <td>Garrett Comer</td>
        <td>17:22.3</td>
        <td>35th</td>
        <td>11</td>
    </tr>

    <tr>
        <td>Enshu Kuan</td>
        <td>17:29.20</td>
        <td>38th</td>
        <td>11</td>
    </tr>
    <tr>
        <td>{NAME}</td>
        <td>{TIME}</td>
        <td>{PLACEMENT}</td>
        <td>{GRADE}</td>
    </tr>
    <!--REPEAT THIS FOR ALL RUNNERS-->
</table>

<footer>
    <p>All data gathered from Garrett's race spreadsheet. Thanks Garrett!</p>
</footer>


<!--
RACE PAGE TEMPLATE
<header>
    <div class="header-content">
        <img src="https://resources.finalsite.net/images/f_auto,q_auto/v1695416665/a2schoolsorg/udbk8bxpqrgvjkwteeut/SkylineHighSchoolPrimaryThumbnailImage.jpg" alt="Skyline High School logo">
        <div class="header-text">
        <h1>{RACE NAME}</h1>
        <p>{RACE DATE}       <a href={LINK TO MEET RESULTS}">Meet results</a></p>
        </div>
    </div>
</header>

<main>
    <p>
        {RACE BIO/DESCRIPTION}
    </p>
    <img src={RACE IMAGE(S)} alt="{RACE NAME} Photo"><div class="header-text">
</main>

<table>
    <caption>
        Skyline Results
    </caption>

    <tr> 
        <th>Name</th>
        <th>Time</th>
        <th>Placement</th>
        <th>Grade</th>
    </tr>

    <tr>
        <td>Garrett Comer</td>
        <td>17:22.3</td>
        <td>35th</td>
        <td>11</td>
    </tr>

    <tr>
        <td>{NAME}</td>
        <td>{TIME}</td>
        <td>{PLACEMENT}</td>
        <td>{GRADE}</td>
    </tr>

</table>

-->
