<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Skyline Cross Country Runner Page</title>
</head>

<header>
    <!--Same(ish) as race page! CSS will make these be side by side, better overall structure-->
    <div class="header-content">
        <img src="https://resources.finalsite.net/images/f_auto,q_auto/v1695416665/a2schoolsorg/udbk8bxpqrgvjkwteeut/SkylineHighSchoolPrimaryThumbnailImage.jpg" alt="Skyline High School logo">
        <div class="header-text">
        <h1>Garrett Comer</h1>
        <p>Grade: 11          <a href="https://www.athletic.net/athlete/21615274/cross-country/">Athletic.net Profile</a></p>
        </div>
    </div>
</header>


<main>
    <p>
        Garrett Comer is a current Junior for the men's Ann Arbor Skyline Cross Country team. 
        Garrett's best placement so far this year was at the 2nd Ann Arbor City Preview presented by AARC, placing 9th. 
        His best time was 16:43.8, a personal record, at the MHSAA LP Region 04-01 @ DeWitt. 
        Garrett has consistently improved each season, shaving off around 2 full minutes from his freshman season.
    </p>
    <img src="https://drive.google.com/file/d/1xISIe6BnqHm2Xun_hxdJnX0NhWpTs-7y/preview" alt="Garrett Comer Running Photo"><div class="header-text">
</main>

<table>
    <!--Will adjust boldness/size of caption with CSS-->
    <caption>
        11th Grade
    </caption>

    <tr> 
        <th>Race</th>
        <th>Time</th>
        <th>Placement</th>
    </tr>

    <tr>
        <td>Lamplighter Invitational</td>
        <td>17:22.3</td>
        <td>35th</td>
    </tr>

    <tr>
        <td>2nd Ann Arbor City Preview presented by AARC</td>
        <td>17:40.1</td>
        <td>9th</td>
    </tr>

    <tr>
        <td>etc...</td>
    </tr>

</table>

<table>
    <caption>
        10th Grade
    </caption>

    <tr> 
        <th>Race</th>
        <th>Time</th>
        <th>Placement</th>
    </tr>

    <tr>
        <td>37th Early Bird Open (HS Open 5K)</td>
        <td>21:04.2</td>
        <td>160th</td>
    </tr>

    <tr>
        <td>2024 Portage Invitational</td>
        <td>21:04.9</td>
        <td>318th</td>
    </tr>

    <tr>
        <td>etc...</td>
    </tr>
</table>

<footer>
    <p>All data gathered from Garrett's race spreadsheet. Thanks Garrett!</p>
</footer>


    <!--
    ATHLETE PAGE TEMPLATE
    <header>
    <div class="header-content">
        <img src="https://resources.finalsite.net/images/f_auto,q_auto/v1695416665/a2schoolsorg/udbk8bxpqrgvjkwteeut/SkylineHighSchoolPrimaryThumbnailImage.jpg" alt="Skyline High School logo">
        <div class="header-text">
        <h1>{NAME}</h1>
        <p>Grade: {GRADE}         <a href={LINK TO ATHLETIC.NET PROFILE}>Athletic.net Profile</a></p>
        </div>
    </div>
</header>

<main>
    <p>
        {ATHLETE BIO/DESCRIPTION}
    </p>
    <img src={ATHLETE IMAGE(S)} alt="{NAME RUNNING}"><div class="header-text">
</main>

<table>
    <caption>
        {MOST RECENT GRADE}
    </caption>

    <tr> 
        <th>Race</th>
        <th>Time</th>
        <th>Placement</th>
    </tr>

    <tr>
        <td>{RACE}</td>
        <td>{TIME}</td>
        <td>{PLACEMENT}</td>
    </tr>
    <tr>
        <td>etc...</td>
    </tr>

</table>

<table>
    <caption>
        {PREVIOUS YEAR}
    </caption>

    <tr> 
        <th>Race</th>
        <th>Time</th>
        <th>Placement</th>
    </tr>

    <tr>
        <td>{RACE}</td>
        <td>{TIME}</td>
        <td>{PLACEMENT}</td>
    </tr>
    <tr>
        <td>etc...</td>
    </tr>
</table>
    -->

